*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
  border: 1px solid black;
  margin: 20px;
  height: 400px;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  
}
.box{
    border: 1px solid red;
    padding: 20px;
}

